body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 20rem;
    max-width: 90%;
    margin:  auto;
  }
  
  label,
  input {
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  button {
    display: block;
    margin-top: 10px;
    border-radius: 4px;
    
  }